

/* No JS */
.no-js {
	.ip-header {
		position: relative;
		min-height: 0px;

		.ip-logo {
			margin-top: 20px;
			height: 180px;
			opacity: 1;
			-webkit-transform: none;
			transform: none;

			svg path {
				fill: #fff;
			}
		}
	}
}
 
 