


//--------------------------[animations]--------------------------

/* Initial animation of header elements */
.loading{
	.ip-logo, .ip-loader {
		opacity: 1;
		-webkit-animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
		animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
	}   
	.ip-loader {
		-webkit-animation-delay: 0.2s;
		animation-delay: 0.2s;
	}
}


/* Header elements when loading finishes */
.loaded{
	.ip-logo, .ip-loader {
		opacity: 1;
	}
	.ip-logo {
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
		animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;

		/* Change the color of the logo */
		svg {
			path {
				-webkit-transition: all 0.5s ease 0.3s;
				transition: all 0.5s ease 0.3s;
				fill: #fff; 
			}
		}
	}
	.ip-loader {
		-webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
		animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	}
	/* Header animation when loading finishes */
	.ip-header {
		-webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
		animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
	}


	/* Content animations */
	.ip-main h2,
	.ip-main .browser,
	.ip-main .browser .box,
	.codrops-demos {
		-webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
		animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
	}

	.ip-main .browser,
	.ip-main .browser .box:first-child {
		-webkit-animation-delay: 0.1s;
		animation-delay: 0.1s;
	}
	
	.ip-main{
		.browser{
			.box:nth-child(2) {
				-webkit-animation-delay: 0.15s;
				animation-delay: 0.15s;
			}
			.box:nth-child(3) {
				-webkit-animation-delay: 0.2s;
				animation-delay: 0.2s;
			}
		}
	}
	
}
//--------------------------[animations]--------------------------







/* Change layout class for header */
.layout-switch {
	.ip-header {
		position: absolute;
	}
}






/* Media queries */ 
@media screen and (max-width: 45em) {

	.ip-main h2 {
		font-size: 2.25em;
		font-size: 10vw;
	}

	.box {
		width: 100%%;
	}

}






//--------------------------[keyframes]--------------------------
@-webkit-keyframes animInitialHeader {
	from { opacity: 0; -webkit-transform: translate3d(0,800px,0); }
}

@keyframes animInitialHeader {
	from { opacity: 0; -webkit-transform: translate3d(0,800px,0); transform: translate3d(0,800px,0); }
}


@-webkit-keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

@keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}


@-webkit-keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}


@-webkit-keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); }
}

@keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
}


@-webkit-keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: translate3d(0,200px,0); }
}

@keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: translate3d(0,200px,0); transform: translate3d(0,200px,0); }
}
//--------------------------[keyframes]--------------------------

















